<!--
<input type="hidden" name="last_4_digits" id="last_4_digits">
<input type="hidden" name="stripe_token" id="stripe_token">
-->

<div id="credit-card">
<div id="credit-card-errors" ng-show="stripe_errormsg">
<div class="custom-error" id="stripe-error-message">
  [[ stripe_errormsg ]]</div>
</div>

<div class="clearfix">
  <label for="credit_card_number">Credit card number</label>
  <div class="input">
    <input class="field" id="credit_card_number" type="text"
    ng-model="card.number" required>
  </div>
</div>
<div class="clearfix">
  <label for="cvc">Security code (CVC)</label>
  <div class="input">
    <input class="small" id="cvc" type="text" ng-model="card.cvc" required min=3>
  </div>
</div>
<div class="clearfix">
  <label for="expiry_date">Expiration date</label>
  <div class="input">
    <select class="small" id="expiry_month" ng-model="card.expMonth">
    {% for month in months %}
    <option value="{{ month }}"{% if soon.month == month %} selected{% endif %}>{{ month }}</option>
    {% endfor %}
    </select>
    <select class="small" id="expiry_year" ng-model="card.expYear">
    {% for year in years %}
    <option value="{{ year }}"{% if soon.year == year %} selected{% endif %}>{{ year }}</option>
    {% endfor %}
    </select>
  </div>
</div>
<br/>
</div>
<div class="actions">
<input class="btn btn-lg btn-primary btn-block" id="user_submit" name="commit" type="submit" value="Register" ng-disabled="{{form.form_name}}.$pristine || {{form.form_name}}.$invalid">
</div>