{% extends "__base.html" %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <section class="container" ng-controller="RegisterCtrl">
    <form name="{{form.form_name}}" accept-charset="UTF-8" method="post" 
        class="form-signin" role="form" ng-submit="register()" novalidate> {% csrf_token %}
      <h2 class="form-signin-heading">Register Today!</h2>
      <div class="alert" ng-show="register_errors"> <a class="close" data-dismiss="alert">x</a>
        <div>
          <p class="error-text" ng-repeat="error in register_errors">[[ error ]]</p>
        </div>
      </div>
      {% for field in form.visible_fields %}
      {% include "payments/_field.html" %}
      {% endfor %} 
      {% include "payments/_cardform.html" %}
    </form>
  </section>
{% endblock %}

{% block extrajs %}
    <script src="{% static "js/registerCtrl.js" %}" type="text/javascript"></script>
    <script src="{% static "js/userMapCtrl.js" %}" type="text/javascript"></script>
{% endblock %}
