<!-- The jedi badge info box, shows user info -->
{% load staticfiles %}
<section class="info-box" id="user_info">
  <h1>Jedi Badge</h1>
    <img class="img-circle" src="{% static 'img/yoda.jpg' %}" width="140"
        height="140" alt="user.avatar"/>
    <ul>
      <li>Rank: {{user.rank}}</li>
      <li>Name: {{user.name}}</li>
      <li>Email: {{user.email}}</li>
      <li><a href="#">Show Achievements</a>
    </ul>
    <p>Click <a href="{% url 'edit' %}">here</a> to make changes to your credit card.</p>
</section>