{% extends "__base.html" %}
{% load staticfiles %}
{% block extra_css %}
  <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
   <div class="container">
      <form accept-charset="UTF-8" action="{% url 'sign_in' %}" class="form-signin" role="form" method="post">
      {% csrf_token %}
      <h1 class="form-signin-heading">Sign in</h1>
      {% if form.is_bound and not form.is_valid %}
      <div class="alert-message block-message error">
        <div class="errors">
          {% for field in form.visible_fields %}
            {% for error in field.errors %}
              <p>{{ field.label }}: {{ error }}</p>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% for field in form %}{% include "payments/_field.html" %}{% endfor %}
        <input class="btn btn-lg btn-primary btn-lg" name="commit" type="submit" value="Sign in">
      </form>
   </div>
{% endblock %}
