{% extends '__base.html' %}
{% load staticfiles %}
{% block extra_css %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="container">
  <form accept-charset="UTF-8" action='.'
      class="form-signin" role="form"  method='POST'> {% csrf_token %}
      <h1 class="form-signin-heading">Contact us</h1>
      {% for field in form %}{% include "payments/_field.html" %}{% endfor %}
      <br/>
      <button type='submit' class='btn btn-lg btn-primary btn-lg'>Submit</button>
  </form>
</section>
{% endblock %}
