<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Poll</title>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="mecApp">
<div class="container">
  <div class="span6" ng-controller='UserPollCtrl'>
    <h5>Who's the most powerful Jedi?</h5> 
    <span ng-click='vote("votes_for_yoda")' class="glyphicon glyphicon-plus"></span>
    <strong>Yoda</strong>
    <span class="pull-right">{{ votes_for_yoda.percent | number:0 }}%</span>
    <div class="progress">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-value="{{ votes_for_yoda.percent }}"
        aria-valuemin="0" aria-valuemax="100" style="width: {{ votes_for_yoda.percent }}%;">
      </div> 
    </div>
    <span class="glyphicon glyphicon-plus" ng-click="vote('votes_for_qui')" ></span>
    <strong>Qui-Gon Jinn</strong>
    <span class="pull-right">{{ votes_for_qui.percent | number:0 }}%</span>
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-value="{{ votes_for_qui.percent }}"
        aria-valuemin="0" aria-valuemax="100" style="width: {{ votes_for_qui.percent }}%;">
      </div> 
    </div>
    <span class="glyphicon glyphicon-plus" ng-click="vote('votes_for_obi')"></span>
    <strong>Obi-Wan Kenobi</strong>
    <span class="pull-right">{{ votes_for_obi.percent | number:0 }}%</span>
    <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-value="{{ vote_for_obi.percent }}"
        aria-valuemin="0" aria-valuemax="100" style="width: {{ votes_for_obi.percent }}%;">
      </div> 
    </div>
    <span class="glyphicon glyphicon-plus"ng-click="vote('votes_for_luke')"></span>
    <strong>Luke Sykwalker</strong>
    <span class="pull-right">{{ votes_for_luke.percent | number:0 }}%</span>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-value="{{ vote_for_luke.percent }}"
        aria-valuemin="0" aria-valuemax="100" style="width: {{ votes_for_luke.percent }}%;">
      </div> 
    </div>
    <span class="glyphicon glyphicon-plus" ng-click="vote('votes_for_me')"></span>
    <strong>Me... of course</strong>
    <span class="pull-right">{{ votes_for_me.percent | number:0 }}%</span>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-value="{{ vote_for_me.percent }}"
        aria-valuemin="0" aria-valuemax="100" style="width: {{ votes_for_me.percent }}%;">
      </div> 
    </div>
    <p>
    <!--
    <a href="#" class="btn btn-large btn-success">Vote</a>
    <a href="#" class="pull-right">View detailed results</a>
  -->
    </p>
  </div>
</div>
    <script src="./angular.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      var mecApp = angular.module('mecApp',[]);

      mecApp.controller('UserPollCtrl', function($scope) {
        $scope.total_votes = 0;
        $scope.vote_data = {}


        $scope.vote = function(voteModel) {
          //$scope[voteModel] = $scope[voteModel] + 1;
          if (!$scope.vote_data.hasOwnProperty(voteModel)) {
            $scope.vote_data[voteModel]  = {"votes" :  0, "percent" : 0};
            $scope[voteModel]=$scope.vote_data[voteModel];
          }
          $scope.vote_data[voteModel]["votes"] = $scope.vote_data[voteModel]["votes"] + 1;
          $scope.total_votes = $scope.total_votes + 1;
          for (var key in $scope.vote_data) {
            item = $scope.vote_data[key];
            item["percent"] = item["votes"] / $scope.total_votes * 100;
          }
        };
      });
    </script>
</body>
</html>

