{% extends 'base.html' %}
{% load staticfiles %}
{% load marketing %}
{% block content %}

<!-- Carousel ================================================== -->
    <section id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <figure class="item active">
		<img src="{% static 'img/darth.jpg' %}" alt="Join the Dark Side">
            <figcaption class="carousel-caption">
              <h1>Join the Dark Side</h1>
              <p>Or the light side.  Doesn't matter.  If your into StarWars then this is the place for you.</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Sign up today</a></p>
            </figcaption>
        </figure>
        <figure class="item">
		<img src="{% static 'img/star-wars-battle.jpg' %}" alt="Wage War">
            <figcaption class="carousel-caption">
              <h1>Wage War</h1>
              <p>Daily chats, Weekly Gamming sessions, Monthly real-life battle re-inactments.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">I'm ready to fight</a></p>
            </figcaption>
        </figure>
        <figure class="item">
		<img src="{% static 'img/star-wars-cast.jpg' %}" alt="Meet People">
            <figcaption class="carousel-caption">
              <h1>Meet fellow StarWars Fans</h1>
              <p>Join forces with fellow padwans and Jedi who lives near you.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Check the Members Map</a></p>
            </figcaption>
        </figure>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span></a>
    </section>
<!-- /.carousel -->

<!-- marketing content -->
<section class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    {% circle_header_item img_name="yoda.jpg" heading="Hone your Jedi Skills" caption="All members have access to our unique training and achievemnts latters.  Show of your StarWars skills, progress through the levels and show everyone who the top Jedi Master is!" %}
    
    {% circle_header_item img_name="clone_army.jpg" heading="Build your Clan" caption="Engage in meanigful conversation, or bloodthirsty battle! If it's related to StarWars you better belive we do it it. :)" %}
    
    {% circle_header_item img_name="leia.jpg" heading="Find Love" caption="Everybody knows StarWars fans are the best mates for StarWars fans.  Find your Princess Leia or Hans Solo and explore the starts together." button_title="Sign Up Now" %}

  </div> <!-- /.row -->
</section>
{% endblock content %}
