@font-face {
  font-family: 'starjedi';
  /*IE9 */
  src: url('../fonts/Starjedi.eot');
  /* Chrome, FF, Opera */
  src: url('../fonts/Starjedi.woff') format('woff'),
  /* android, safari, iOS */
  url('../fonts/Starjedi.ttf') format('truetype'),
  /* legacy safari */
  url('../fonts/Starjedi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  padding-bottom: 40px;
  background-color: #eee;
}

h1, .nav li, .navbar-brand {
  font-family: 'starjedi', sans-serif;
}

.center-text {
  text-align: center;
}

.featurette-divider {
  margin: 80px 0;
}

.navbar-brand {
  height: 40px;
}

#darth_caption {
  top: 0%;
  left: 5%;
  right: 60%;
  text-align: left;
}

/* Member Page */
.info-box {
  border: 2px solid #000000;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  background-color: #eee;
}
#user_info {
  text-align: center;
  margin-left: 20px;
}
#user_info ul {
  list-style-type: none;
  text-align: left;
}
.member-page {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -20px;
}

.full-image {
  overflow: hidden;
}

.full-image img {
  position: relative;
  display: block;
  margin: auto;
  min-width: 100%;
  min-height: 100px;
}

input.ng-dirty.ng-valid {
  border:1px solid Green;
}
input.ng-dirty.ng-invalid {
  border:1px solid Red;
}

.custom-error {
  color: #FF0000;
  font-family: sans-serif;
}

.angular-google-map-container { height: 400px; }

