{% extends "__base.html" %}

 {% block content %}

    {% load static %}
    {% load main_marketing %}

    <center>
    <section id="myCarousel" class="carousel slide" data-ride="carousel" style="max-width: 960px;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <figure class="item active">
          <img src="{% static 'img/darth.jpg' %}" alt="Join the Dark Side" style="max-height: 540px;">
            <figcaption class="carousel-caption visible-lg-block" id="darth_caption">
              <h1>Join the Dark Side</h1>
              <p>Or the light side. Doesn't matter. If your into Star Wars then this is the place for you.</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Sign up today</a></p>
            </figcaption>
            <figcaption class="carousel-caption hidden-lg">
              <h1>Join the Dark Side</h1>
              <p>Or the light side. Doesn't matter. If your into Star Wars then this is the place for you.</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Sign up today</a></p>
            </figcaption>
        </figure>
        <figure class="item">
          <img src="{% static 'img/star-wars-battle.jpg' %}" alt="Wage War" style="max-height: 540px;">
          <figcaption class="carousel-caption">
            <h1>Wage War</h1>
            <p>Daily chats, Weekly Gaming sessions, Monthly real-life battle re-inactments.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">I'm ready to fight</a></p>
          </figcaption>
        </figure>
        <figure class="item">
          <img src="{% static 'img/star-wars-cast.jpg' %}" alt="Meet People" style="max-height: 540px;">
          <figcaption class="carousel-caption">
            <h1>Meet fellow Star Wars Fans</h1>
            <p>Join forces with fellow padwans and Jedi who lives near you.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Check the Members Map</a></p>
          </figcaption>
        </figure>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </section>
     </center>

    <br><br>

    <section class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% marketing__circle_item %}
      </div>
    </section>

{% endblock %}