{% extends "__base.html" %}
{% load staticfiles %}
{% block content %}
<div id="achievements" class="row member-page hide">
  {% include "main/_badges.html" %}
</div>
  <div class="row member-page">	  
    <div class="col-sm-8">
      <div class="row">
        {% include "main/_announcements.html" %}
        {% include "main/_lateststatus.html" %}
      </div>
    </div>
    <div class="col-sm-4"> 
     <div class="row">
       {% include "main/_jedibadge.html" %}
       {% include "main/_statusupdate.html" %}
       {% include "djangular_polls/_polls.html" %}
     </div>
    </div>
  </div>
{% endblock %}
